Repository openkruise/kruise, pull requests merged in 2019-07, with the labels that each got.

#45 Fix a bug that StatefulSet applies the revision incorrectly
  pkg/controller/statefulset/stateful_set_utils.go
  pkg/controller/statefulset/stateful_set_utils_test.go
Labels: areas/advStatefulSet, kind/bug

#15 test: add circle-ci to support lint details
  .circleci/config.yml
Labels: areas/test

#75 update broadcastjob readme
  docs/concepts/broadcastJob/README.md
Labels: areas/docs

#77 docs: better readme to add more details
  ADOPTERS.md
  CHANGELOG.md
  FAQ.md
  README.md
  docs/img/bell-outline-badge.svg
  docs/img/openkruise-dev-group.JPG
Labels: areas/docs
